.input-box{
    text-align: center;
    font-size: 14px;
    padding: 30px;
}
.input-box input{
    text-align: center;
    width: 30%;
    padding: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.center{
    text-align: center;
}